@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.overall{
    width: 100%;
    min-height: 100vh;
    background-color: black;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}
.clr{
    background-color: white!important;
    color: black!important;
}
nav i{
    font-size: 20px; 
}
.dark-button:checked~.navbar{
    background-color:rgb(40, 40, 40)!important;
    color: white!important;
}
.dark-button:checked~.home{
    background-color:black;
    color: white;
}
.dark-button:checked~.about{
    background-color:rgba(20, 20, 20);
    color: white;
}
.dark-button:checked~.education{
    background-color:black;
    color: white;
}
.dark-button:checked~.contact{
    background-color:rgba(20, 20, 20);
    color: white;
}
.dark-button:checked~.contact form{
    background-color:darkgrey;
    color: white;
}
.dark-button:checked~footer{
    background-color:black;
    color: white;
}
.dark-button{
    display: none;
}

/* Home page styles */
.home{
    background-color:bisque;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 30px;
    padding-top: 100px;
}
.my-details{
    padding: 30px;
    width: 50%;
    height: 100%;
}
.category{
    font-size: small;
}
.summary{
    font-size: small;
}
.my-photo{
    height: 300px;
    width: 280px;
}
.my-photo{
    box-shadow: 0px 3px 20px black;
}


/* About */
.about{
    width: 100%;
    background-color:cornsilk;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 50px 30px;
}
.edu-title{
    text-align: center;
    padding: 10px;
}
.personal-details{
    font-size: 13px;    
}
p i{
    font-size: 20px;
}


/* Education styles */
.education{
    width: 100%;
    background-color:lavender;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 50px 30px;
}
.edu-title{
    text-align: center;
    padding: 10px;
}
.college{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0px;
}
.college-content{
    padding: 30px;
    width: 50%;
    height: 100%;
}
.college-photo{
    width: 400px;
    height: 280px;
}
.college-details{
    font-size: small;
}

/* Contact us page */
.contact{
    width: 100%;
    background-color:lightpink;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 50px 30px;
}
form{
    width: 320px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
label{
    font-size: 14px;
}
input{
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    background-color: transparent;
}
input::placeholder{
    font-size: 12px;
    color: black;
}
button{
    border: 1px solid red;
    padding: 5px 20px;
    color: white;
    background-color: red;
    border-radius: 20px;
}

/* Footer page style */
footer{
    width: 100%;
    background-color:lightgreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 50px 30px;
}
.icons{
    font-size: xx-large;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

